html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

p {
    color: white;
}

h2 {
    color: cyan;
    text-shadow: 0 0 3px lightblue;
}

button {
    color: skyblue;
    background-color: black;
    border-radius: 6px;
    border: solid 2px skyblue;
    text-shadow: 0 0 2px cyan;
    box-shadow: 0 0 0.3rem cyan;
    margin: 2px;
}

.rock, .paper, .scissors {
    height: 3em;
    width: 9em;
    font-size: 12px;
}

.running-score {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    padding: 10px;
    color: cyan;
    gap: 24px;
    text-shadow: 0 0 12px skyblue;
}

.gameboard {
    border-radius: 12px;
    padding: 16px;
    background-color: black;
    border: 3px skyblue solid;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3rem cyan;
}